/* Login.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5dc; /* Beige color */
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-color: #f5f5dc; } /* Beige */
  50% { background-color: #e0d8c0; } /* Lighter beige */
  100% { background-color: #f5f5dc; } /* Beige */
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-image {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.login-form {
  width: 100%;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.sc {
  margin-top: 10px;
}

.btn-primary {
  background-color: #1890ff;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #40a9ff;
  transform: scale(1.05);
}

.btn-primary:active {
  background-color: #096dd9;
  transform: scale(0.95);
}
